doctype html 
header
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    link(rel="stylesheet", href="../css/chitietCT.css")
    title Trang công ty
body 
.section-CT-header 
    .header-bg 
    .header-infoCT
        .box-title.d-flex.justify-content-between.align-items-center
            .item-img 
                img(src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg", alt="logo công ty")
            .title-CT FPT Software  
    .negative.d-flex.justify-content-center.align-items-center <box-icon type='solid' name='left-arrow-alt'></box-icon>  
.section-CT-body.container            
    .navbar-Ct.d-flex 
        .item-trangchu.active.box Trang chủ 
        .item-tintuyen.box Tin tuyển dụng 
    .body-trangchu 
        .container-item 
            .item 
                p.title Mô tả :
                p.text Bosch Global Software Technologies Company Limited (Previous name: RBVH - Robert Bosch Engineering and Business Solutions Vietnam Company Limited) is 100% owned subsidiary of Robert Bosch GmbH. BGSW Vietnam has started its operations from 19th October, 2010 at E-Town2 in HCMC. Today, BGSW Vietnam has offices in both Ho Chi Minh city and Hanoi with more than 4500 currently working.
            .item 
                p.title Quy mô :
                p.text 100 nhân viên 
            .item 
                p.title Liên hệ :
                p.text.d-flex.align-items-center <box-icon name='phone-call' ></box-icon> : 0123435342 <br> <box-icon name='envelope' ></box-icon> : hoai@gmail.com
            .item 
                p.title Địa chỉ :
                p.text Hồ Chí Minh
    .body-tintuyen 
        .box-item 
            .item
                .item-top.d-flex.mb-2
                    .item-img
                        img(src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg", alt="logo công ty")
                    .ttle-job.ms-4
                        .name-job Intern Java Spring
                        //- Điền vào tên
                        .name-comp Fpt Software
                        //- Điền tên công ty 
                .item-bot
                    .info-job 
                        span.desr $10000
                        span.desr 30 ngày trước 
                    .button-xem.d-flex.justify-content-between
                        .empty 
                        .ungtuyen.animate__pulse Xem >>
            .item
                .item-top.d-flex.mb-2
                    .item-img
                        img(src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg", alt="logo công ty")
                    .ttle-job.ms-4
                        .name-job Intern Java Spring
                        //- Điền vào tên
                        .name-comp Fpt Software
                        //- Điền tên công ty 
                .item-bot
                    .info-job 
                        span.desr $10000
                        span.desr 30 ngày trước 
                    .button-xem.d-flex.justify-content-between
                        .empty 
                        .ungtuyen.animate__pulse Xem >>
            .item
                .item-top.d-flex.mb-2
                    .item-img
                        img(src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg", alt="logo công ty")
                    .ttle-job.ms-4
                        .name-job Intern Java Spring
                        //- Điền vào tên
                        .name-comp Fpt Software
                        //- Điền tên công ty 
                .item-bot
                    .info-job 
                        span.desr $10000
                        span.desr 30 ngày trước 
                    .button-xem.d-flex.justify-content-between
                        .empty 
                        .ungtuyen.animate__pulse Xem >>
            .item
                .item-top.d-flex.mb-2
                    .item-img
                        img(src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg", alt="logo công ty")
                    .ttle-job.ms-4
                        .name-job Intern Java Spring
                        //- Điền vào tên
                        .name-comp Fpt Software
                        //- Điền tên công ty 
                .item-bot
                    .info-job 
                        span.desr $10000
                        span.desr 30 ngày trước 
                    .button-xem.d-flex.justify-content-between
                        .empty 
                        .ungtuyen.animate__pulse Xem >>
            .item
                .item-top.d-flex.mb-2
                    .item-img
                        img(src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg", alt="logo công ty")
                    .ttle-job.ms-4
                        .name-job Intern Java Spring
                        //- Điền vào tên
                        .name-comp Fpt Software
                        //- Điền tên công ty 
                .item-bot
                    .info-job 
                        span.desr $10000
                        span.desr 30 ngày trước 
                    .button-xem.d-flex.justify-content-between
                        .empty 
                        .ungtuyen.animate__pulse Xem >>
    script(src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js")
    script(src="../js/chitietCT.js")